# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.env/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store